p {
    max-width: 60ch;
}

.btn,
[type="submit"] {
    background: none;
    padding: 5px 20px;
    color: #818cf8;
    border: #818cf8 1px solid;
    border-radius: 5px;
    text-decoration: none;
    transition: 200ms;

    width: fit-content;
}

.btn:hover,
[type="submit"]:hover {
    cursor: pointer;
    background: #818cf8;
    color: white;
}

.dlt {
    border: #f00 solid 1px;
    color: #f00;

    &:hover {
        background-color: #f00;
        color: white;
    }
}

tbody td,
thead td {
    padding: 15px 20px;
    border-top: #0002 solid 1px;
    border-collapse: collapse;
}

input[type="text"],
input[type="email"],
input[type="time"],
input[type="date"],
input[type="password"],
select,
.input {
    background: white;
    border: 1px #0005 solid;
    border-radius: 12px;
    padding: 10px !important;
}

.user-form div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.timetable {
    display: flex;
    justify-content: left;
    width: 100%;
    overflow-x: scroll !important;
    padding: 20px;

    th{
        transform: translateX(50%);
    }

    td {
        border: 1px #000 solid;
        padding: 5px 10px !important;
        width: 100px;
    }
}
